{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{ nama }}</a>
    <div class="d-flex" role="search">
      <button class="btn btn-outline-success">
        <a href="{% url 'wishlist:logout' %}">
          Logout
        </a>
      </button>
    </div>
  </div>
</nav>

<table id="wishlist_table"> 
  {% comment %} Tambahkan data di bawah baris ini {% endcomment %} 
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<button><a href="{% url 'wishlist:logout' %}">Logout</a></button>

{% endblock content %}
